.Die {
    font-size: 10em;
    padding: 0.25em;
    color: crimson;

}

.shaking {
    animation-name: wobble;
    animation-duration: 1s;
}

@keyframes wobble {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    15% {
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -45deg);
    }
  
    30% {
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 60deg);
    }
  
    45% {
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -25deg);
    }
  
    60% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 30deg);
    }
  
    75% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -15deg);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }